# Python
.venv/
venv/
.venv/
backend/venv/
backend/.venv/
backend/uploads/
__pycache__/
*.pyc
*.pyo
backend/.env
.env
backend/.env
backend/.venv/

# Database
backend/sql_app.db
*.db
*.sqlite3

# Node & Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/
.DS_Store

# IDE & Editori
.vscode/
.idea/

# Superpowers internal docs
docs/superpowers/

uploads/

docs/superpowers/venv/