# Python & Backend
backend/venv/
**/__pycache__/
*.pyc
*.pyo
backend/.env
.env

backend/app/seed.py
backend/app/create_tables.py

# Database
backend/sql_app.db
*.db
*.sqlite3

# Node & Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/
.DS_Store

# IDE & Editori
.vscode/
.idea/

# Superpowers internal docs
docs/superpowers/venv/
